@model IEnumerable<KudTentProjekat.Models.PriznanicaBO>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Datum)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cena)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NazivMeseca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ClanPriznanica.PrezimeIme)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Datum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cena)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NazivMeseca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClanPriznanica.PrezimeIme)
                </td>
                <td>
                    @Html.ActionLink("Delete", "DeleteAsistent", "Priznanica", new { id = item.Id })


                </td>

            </tr>
        }
    </tbody>
</table>
