@model KudTentProjekat.Models.ClanBO

@{
    ViewData["Title"] = "Edit";
}



<div class="jumbotron">
    <h4>Izmeni člana</h4>
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group" hidden>
            <label asp-for="Id" class="control-label"></label>
            <input asp-for="Id" class="form-control"  />
            <span asp-validation-for="Id" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label asp-for="KorisnickoIme" class="control-label"></label>
            <input asp-for="KorisnickoIme" class="form-control" readonly />
            <span asp-validation-for="KorisnickoIme" class="text-danger"></span>
        </div>

     


        <div class="form-group">

            <input type="radio" asp-for="Lozinka" value="@Model.Lozinka" checked hidden />


        </div>

        <div class="form-group">
            <label asp-for="PrezimeIme" class="control-label"></label>
            <input asp-for="PrezimeIme" class="form-control" />
            <span asp-validation-for="PrezimeIme" class="text-danger"></span>
        </div>
        @*
        <div class="form-group">
            <label asp-for="Popust" class="control-label"></label>
            <input asp-for="Popust" class="form-control" />
            <span asp-validation-for="Popust" class="text-danger"></span>
        </div>
        *@
        <div class="form-group">
            <label asp-for="Sekcije" class="control-label">

            </label>

            <select class="form-control" asp-for="Sekcije.Id" asp-items="@(new SelectList(ViewBag.Sekcije,"Id","Naziv"))">
                <option>Izaberite</option>
            </select>
            <span asp-validation-for="Sekcije.Id" class="text-danger"></span>
        </div>


        @*

        <div class="form-group">
            <label asp-for="Placeno" class="control-label"></label>

            <select class="form-control" asp-for="Placeno.Id" id="mesecnaDropdown" onchange="updatePlacenoId()">
                <option value="0">Mesecna:</option>
                @foreach (var mesecna in ViewBag.Mesecna)
                {
                    <option value="@($"{mesecna.Id}")">@($"{mesecna.Status}")</option>
                }
            </select>

            <select class="form-control" asp-for="Placeno.Id" id="godisnjaDropdown" onchange="updatePlacenoId()">
                <option value="0">Godisnja:</option>
                @foreach (var godisnja in ViewBag.Godisnja)
                {
                    <option value="@($"{godisnja.Id}")">@($"{godisnja.Status}")</option>
                }
            </select>

            <input type="hidden" asp-for="Placeno.Mesecna.Id" id="Mesecna_Id" />
            <input type="hidden" asp-for="Placeno.Godisnja.Id" id="Godisnja_Id" />
            <input type="hidden" asp-for="Placeno.Id" id="Placeno_Id" />

            <span asp-validation-for="Placeno.Id" class="text-danger"></span>

        </div>

        *@






        <div class="form-group">
            <label asp-for="Placeno" class="control-label">
                Izaberite opciju: <br />
            </label>
            <select class="form-control" asp-for="Placeno.Id">

                @foreach (var placenoItem in ViewBag.Placeno)
                {
                    var mesecnaStatus = placenoItem.Mesecna.Status;
                    var godisnjaStatus = placenoItem.Godisnja.Status;
                    var optionText = $"Mesecna: {mesecnaStatus} - Godisnja: {godisnjaStatus}";
                    <option value="@placenoItem.Id">@optionText</option>
                }
            </select>



            <span asp-validation-for="Placeno.Id" class="text-danger"></span>
        </div>



        @*
        <div class="form-group">
            <label asp-for="Placeno" class="control-label">

            </label>
            <label class="control-label">Mesečna:</label><br />
            <input id="Placena" type="radio" asp-for="Placeno.Mesecna.Id" value="1" /> Plaćena <br />
            <input id="Placena" type="radio" asp-for="Placeno.Mesecna.Id" value="2" /> Nije plaćena <br /><br />

            <label class="control-label">Godišnja:</label><br />
            <input id="Placena" type="radio" asp-for="Placeno.Godisnja.Id" value="1" /> Placena <br />
            <input id="Placena" type="radio" asp-for="Placeno.Godisnja.Id" value="2" /> Nije plaćena <br />


            <span asp-validation-for="Placeno.Id" class="text-danger"></span>
        </div>
        *@

        <div class="form-group">
            <label asp-for="Popust" class="control-label"></label>
            <input id="Da" type="radio" asp-for="Popust" value="Da" /> Da <br />
            <input id="Ne" type="radio" asp-for="Popust" value="Ne" /> Ne

            <span asp-validation-for="Popust" class="text-danger"></span>
        </div>

        @*
        <div id="cenaSaPopustom" class="form-group" style="display: none;">
            <!-- Prikaz cena sa popustom -->
            <label>Mesečna cena sa popustom:</label>
            <span>@Model.Placeno.Mesecna.CenaPopust</span>
            <br />
            <label>Godišnja cena sa popustom:</label>
            <span>@Model.Placeno.Godisnja.CenaPopust</span>


        </div>

        <div id="cenaBezPopusta" class="form-group" style="display: none;">
            <!-- Prikaz cena bez popusta -->
            <label>Mesečna cena bez popusta:</label>
            <span>@Model.Placeno.Mesecna.CenaObicna</span>
            <br />
            <label>Godišnja cena bez popusta:</label>
            <span>@Model.Placeno.Godisnja.CenaObicna</span>
        </div>
        *@
        <div class="form-group">
            <label class="control-label">Privilegije korisnika:</label> <br />
            <input id="1" type="radio" asp-for="Privilegije.Id" value="1" /> Admin <br />
            <input id="2" type="radio" asp-for="Privilegije.Id" value="2" /> Korisnik <br />
            <input id="3" type="radio" asp-for="Privilegije.Id" value="3" /> Asistent

            <span asp-validation-for="Privilegije" class="text-danger"></span>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-secondary" />
        </div>
    </form>
</div>

@*
    <script>
        $(document).ready(function () {
            // Postavljanje događaja za promenu stanja radio dugmadi
            $("input[name='Popust']").change(function () {
                var selectedValue = $("input[name='Popust']:checked").val();

                // Sakrivanje svih divova
                $("#cenaSaPopustom").hide();
                $("#cenaBezPopusta").hide();

                // Prikazivanje odgovarajućeg diva na osnovu izbora
                if (selectedValue === "Da") {
                    $("#cenaSaPopustom").show();
                } else if (selectedValue === "Ne") {
                    $("#cenaBezPopusta").show();
                }
            });
        });
    </script>

*@









